.summary {
    font-size: 1.6rem;
    line-height:1.57
}
.summary p {
    margin:0
}

/* Define the styles for the framed text block */
.framed-text {
    border: 2px solid #333; /* Border style */
    padding: 20px; /* Padding around the text */
    border-radius: 8px; /* Rounded corners */
    width: 60%; /* Adjust width as needed */
    margin: 20px auto; /* Center the block */
    font-size: 1.6rem;
  }